.Footer {
  display: flex;
  justify-content: space-evenly;

  padding: 5px 0;

  background-color: var(--background-color);
}

.FooterButton {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5px 10px;
  border-radius: 4px;

  font-weight: 500;

  transition: 0.4s all;

  flex-grow: 1;
  flex-basis: 0;

  &.selected {
    color: var(--primary-color);
  }

  svg {
    height: 24px;
    width: 24px;
    margin-bottom: 5px;
  }
}
